*{
    padding: 0;
    margin: 0;
}
.text2{
    padding-top: 220px;
    padding-left: 40px;

}
.eat{
    
    display: flex;
    padding: 00px;
    margin-bottom: 30px;
    padding-left: 25px;

}
h1{
    font-size: 45px;
    text-align: left;
}
#head1{
    font-size: 20px;
    text-align: left;
    margin-bottom: 60px;
}
span{
    color: chocolate;
}
.button{
    background-image: linear-gradient(rgb(251, 5, 25), rgb(245, 125, 56));
    padding: 15px 35px;
    border-radius: 20px;
    box-shadow: 1px -1px 12px 03px rgb(176, 115, 115);
    text-decoration: none;
    color: white;
    
    
}

.about-sec{
   display: flex;
   background-image: url(images/shapes/7.png);
   background-size: cover;
   

}
.about-me{
    width: 50%;
    text-align: left;
    
}
.about-me img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}
.text{
    padding-top: 140px;

}
.pera{
    margin-bottom: 80px;
}

.food{
    text-align: center;
    margin-top: 80px;
    
}
.food2{
    display: flex;
padding: 20px;
margin: 50px;




}
.food2 img{
    width: 500px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

}
    

.food1{
   
    border-radius: 20px;
    padding: 20px;
   margin: 20px;
   box-shadow: 2px 2px 8px 9px rgb(181, 176, 176);
}
.food-pera{
    text-align: left;
}
.youtube{
 display: flex;
 justify-content: space-evenly;
 
 box-shadow: 2px 2px 8px 9px rgb(181, 176, 176);
 border-radius: 10px;
 margin-left:  85px;
    margin-right: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 100px;
}
.like{
    
}
.footer{
    text-align: center;
    background-color: black;
    padding-top: 50px;
    color: aliceblue;
    padding-bottom: 50px;

}